@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body {
  height: 0;
}

* {
  font-family: 'Noto Serif TC', serif;
}

.navbar.navbar-expand-lg.fixed-top.p-0.navbar-gb {
  background-color: white;
  -webkit-box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.8);
          box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.8);
}

.navbar {
  border-bottom: solid 1px #f3f3f1;
  border-bottom-transition: 0.5s;
}

.navbar h1 .logo {
  margin: 20px;
  width: 270px;
  height: 50px;
  background-image: url("../images/logo-white.svg");
  background-size: cover;
}

.navbar .navbar-icon {
  display: none;
  position: relative;
  border: solid 1px white;
  width: 56px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  z-index: 300;
}

.navbar .navbar-icon-click {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .line1,
.navbar .line2,
.navbar .line3 {
  position: relative;
  border-radius: 4px;
  width: 28px;
  height: 3px;
  -webkit-transform: translateX(14px) translateY(10px);
          transform: translateX(14px) translateY(10px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #ffffff;
}

.navbar .line2 {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transform: translateX(14px) translateY(15px);
          transform: translateX(14px) translateY(15px);
}

.navbar .line3 {
  -webkit-transform: translateX(14px) translateY(20px);
          transform: translateX(14px) translateY(20px);
}

.navbar .line1-click {
  -webkit-transform: translateX(10px) translateY(18px) rotate(45deg);
          transform: translateX(10px) translateY(18px) rotate(45deg);
  width: 36px;
}

.navbar .line2-click {
  display: none;
}

.navbar .line3-click {
  -webkit-transform: translateX(10px) translateY(16px) rotate(-45deg);
          transform: translateX(10px) translateY(16px) rotate(-45deg);
  width: 36px;
}

.navbar .collapse .navbar-nav .nav-item .hover {
  font-weight: 600;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .collapse .navbar-nav .nav-item .hover:hover {
  color: #e0a297 !important;
}

header.container-fluid {
  background-image: url(../images/jumbotron-pic.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0;
}

header.container-fluid .container {
  padding: 250px 0px;
}

header.container-fluid .overlay {
  padding: 50px 0px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

header.container-fluid .overlay .main-title {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

header.container-fluid .overlay .hr {
  margin: 0px auto 20px;
  max-width: 100px;
  height: 5px;
  background-color: #e0a297;
}

header.container-fluid .overlay .sub-title {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
}

section {
  padding: 80px 0px;
}

#section_ask {
  background-color: #e0a297;
}

#section_ask .col-md-5.img {
  background-image: url(../images/ask-pic.jpg);
  background-size: cover;
  background-position: center center;
  mix-blend-mode: multiply;
  height: 300px;
}

#section_ask .col-md-7.ask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section_ask .col-md-7.ask .ask-content {
  font-size: 30px;
  font-weight: 800;
  color: #343a40;
}

#section_about .col-12 .about-title {
  font-size: 30px;
}

#section_about .col-md-4.col-sm-6 .img-wrap {
  overflow: hidden;
  margin-bottom: 10px;
}

#section_about .col-md-4.col-sm-6 .img-wrap img {
  height: 250px;
}

#section_about .col-md-4.col-sm-6 h5 {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0px;
}

#section_about .col-md-4.col-sm-6 p {
  line-height: 1.8;
}

#section_story {
  padding: 0;
  background-color: #222222;
  color: white;
}

#section_story .col-md-5.map {
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: url(../images/story-pic.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#section_story .col-md-7 {
  text-align: center;
}

#section_story .col-md-7 .story-title {
  font-size: 36px;
  font-weight: 700;
  padding: 30px 0px;
}

#section_story .col-md-7 .col-md-4 {
  display: block;
  white-space: nowrap;
  text-align: center;
}

#section_story .col-md-7 .col-md-4 .fa-affiliatetheme,
#section_story .col-md-7 .col-md-4 .fa-child,
#section_story .col-md-7 .col-md-4 .fa-screwdriver {
  margin-bottom: 10px;
  font-size: 30px;
}

#section_story .col-md-7 .col-md-4 h6 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}

#section_story .col-md-7 p {
  text-align: left;
  line-height: 1.8;
  padding: 20px;
}

#section_future .col-md-5.where {
  height: 400px;
  background-image: url(https://www.taichung.travel/Utility/DisplayImage?id=17996);
  background-size: cover;
}

#section_future .col-md-7 {
  padding-left: 30px;
}

#section_future .col-md-7 .fa-people-carry,
#section_future .col-md-7 .fa-landmark {
  font-size: 40px;
  margin: 15px 0px;
}

#section_future .col-md-7 h5 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0px;
}

footer.container-fluid {
  background-image: url(../images/jumbotron-pic.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0;
}

footer.container-fluid .container {
  padding: 80px;
  margin-bottom: 0;
}

footer.container-fluid .container h2 {
  color: white;
  text-align: center;
}

footer.container-fluid .container input {
  background-color: transparent;
  max-width: 350px;
  margin: 30px auto;
}

footer.container-fluid .container .hr {
  margin: 0px auto 20px;
  max-width: 100px;
  height: 5px;
  background-color: #e0a297;
}

footer.container-fluid .container button {
  display: block;
  margin: 0 auto;
  background-color: white;
}

footer.container-fluid .container button:hover {
  color: white;
  background-color: #955044;
}

@media (max-width: 992px) {
  .navbar .navbar-icon {
    display: block;
  }
  .navbar .hover {
    padding: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 900px) {
  .col-md-7.ask .asl-content {
    margin-top: 30px;
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .map {
    display: none;
  }
}

@media (max-width: 650px) {
  header.container-fluid .overlay .main-title {
    font-size: 40px;
  }
  header.container-fluid .overlay .sub-title {
    font-size: 20px;
  }
}
/*# sourceMappingURL=all.css.map */